.section{
  height: 3000px;
  background: #000;
  z-index: 99999999999999;
}
.review{
  background:url("../images/review-bg.jpg") no-repeat 0 0 ;
  }


.photo{
 width: 1050px;

  &-list{

    &-item{
      overflow: hidden;
      width: 274px;
      height:306px;

      float: left;
      margin-right: 14px;
      padding-bottom: 78px;

    }
  }
}
